.DS_Store
.idea/
.ipynb_checkpoints/
__pycache__/
*.pyc

# Environment files
.env
# Virtual environments
.venv/

# Local dev folders
notebooks/
utils/

# Personal notes
midterm.txtHomework1/data/rating.csv
